1) Write a python program to display all the header tags from wikipedia.org and make data frame.

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send an HTTP GET request to Wikipedia
response = requests.get("https://en.wikipedia.org/wiki/Main_Page")

# Parse the HTML content of the page
soup = BeautifulSoup(response.text, 'html.parser')

# Extract and display all header tags
headers = [header.text for header in soup.find_all(['h1', 'h2', 'h3', 'h4', 'h5', 'h6'])]

data = {'Headers': headers}
df = pd.DataFrame(data)

# Display the data frame
print(df)

                          Headers
0                       Main Page
1            Welcome to Wikipedia
2   From today's featured article
3                Did you know ...
4                     In the news
5                     On this day
6      From today's featured list
7        Today's featured picture
8        Other areas of Wikipedia
9     Wikipedia's sister projects
10            Wikipedia languages

2) Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)
from https://presidentofindia.nic.in/former-presidents.html and make data frame.

Note: Page not found

3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team andrating.
c) Top 10 ODI bowlers along with the records of their team andrating.

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URLs for ODI teams, batsmen, and bowlers rankings
odi_teams_url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
odi_batsmen_url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
odi_bowlers_url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"

# Function to scrape rankings data and create a DataFrame
def scrape_icc_rankings(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    # Find the table containing the data
    table = soup.find('table', class_='table')

    if table:
        data = []
        rows = table.find_all('tr')
        for row in rows[1:11]:  # Get the top 10 rows (excluding the header)
            columns = row.find_all('td')
            record = {
                "Rank": columns[0].text.strip(),
                "Name": columns[1].text.strip(),
                "Matches": columns[2].text.strip(),
                "Points": columns[3].text.strip(),
                "Rating": columns[4].text.strip(),
            }
            data.append(record)

        df = pd.DataFrame(data)
        return df
    else:
        return None

# Scrape data and create data frames
odi_teams_df = scrape_icc_rankings(odi_teams_url)
odi_batsmen_df = scrape_icc_rankings(odi_batsmen_url)
odi_bowlers_df = scrape_icc_rankings(odi_bowlers_url)

print("Top 10 ODI Teams:")
print(odi_teams_df)

print("\nTop 10 ODI Batsmen:")
print(odi_batsmen_df)

print("\nTop 10 ODI Bowlers:")
print(odi_bowlers_df)

Top 10 ODI Teams:
  Rank              Name Matches Points Rating
0    1        India\nIND      49  5,839    119
1    2    Australia\nAUS      36  4,015    112
2    3     Pakistan\nPAK      32  3,525    110
3    4  South Africa\nSA      29  3,166    109
4    5   New Zealand\nNZ      38  4,007    105
5    6      England\nENG      34  3,377     99
6    7     Sri Lanka\nSL      43  3,943     92
7    8   Bangladesh\nBAN      40  3,574     89
8    9  Afghanistan\nAFG      26  2,170     83
9   10   West Indies\nWI      38  2,582     68

Top 10 ODI Batsmen:
                                                Rank                   Name  \
0               1\n                        \n\n\n(0)             Babar Azam
1       2\n                                \n\n\n(0)           Shubman Gill
2  3\n                                \n\n\n\n\n(...        Quinton de Kock
3  4\n                                \n\n\n\n\n(...       Heinrich Klaasen
4  5\n                                \n\n\n\n\n(...           David Warner
5  =\n                                \n\n\n\n\n(...            Virat Kohli
6       7\n                                \n\n\n(0)           Harry Tector
7  8\n                                \n\n\n\n\n(...           Rohit Sharma
8  9\n                                \n\n\n\n\n(...  Rassie van der Dussen
9      10\n                                \n\n\n(0)            Imam-ul-Haq

  Matches Points                         Rating
0     PAK    829  898 v West Indies, 10/06/2022
1     IND    823    847 v Australia, 24/09/2023
2      SA    769    813 v Sri Lanka, 10/03/2019
3      SA    756   756 v Bangladesh, 24/10/2023
4     AUS    747     880 v Pakistan, 26/01/2017
5     IND    747      911 v England, 12/07/2018
6     IRE    729      729 v England, 23/09/2023
7     IND    725    885 v Sri Lanka, 06/07/2019
8      SA    716      796 v England, 19/07/2022
9     PAK    704  815 v West Indies, 12/06/2022

Top 10 ODI Bowlers:
                                                Rank            Name Matches  \
0               1\n                        \n\n\n(0)  Josh Hazlewood     AUS
1       2\n                                \n\n\n(0)  Mohammed Siraj     IND
2  3\n                                \n\n\n\n\n(...  Keshav Maharaj      SA
3  4\n                                \n\n\n\n\n(...     Rashid Khan     AFG
4  5\n                                \n\n\n\n\n(...     Trent Boult      NZ
5  6\n                                \n\n\n\n\n(...   Mohammad Nabi     AFG
6  7\n                                \n\n\n\n\n(...      Adam Zampa     AUS
7  8\n                                \n\n\n\n\n(...      Matt Henry      NZ
8       9\n                                \n\n\n(0)   Kuldeep Yadav     IND
9      10\n                                \n\n\n(0)  Shaheen Afridi     PAK

  Points                          Rating
0    670       733 v England, 26/01/2018
1    668   736 v New Zealand, 21/01/2023
2    656    656 v Bangladesh, 24/10/2023
3    654      806 v Pakistan, 21/09/2018
4    653     775 v Australia, 11/09/2022
5    641      657 v Zimbabwe, 09/06/2022
6    635  670 v South Africa, 09/09/2023
7    634    691 v Bangladesh, 26/03/2021
8    632   765 v New Zealand, 26/01/2019
9    625   688 v West Indies, 10/06/2022

4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data framea) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [9]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URLs for ODI teams, women's ODI batting players, and women's ODI all-rounders rankings
odi_womens_teams_url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
odi_womens_batting_url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
odi_womens_allrounder_url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"

# Function to scrape rankings data and create a DataFrame
def scrape_icc_rankings(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    # Find the table containing the data
    table = soup.find('table', class_='table')

    if table:
        data = []
        rows = table.find_all('tr')
        for row in rows[1:11]:  # Get the top 10 rows (excluding the header)
            columns = row.find_all('td')
            record = {
                "Rank": columns[0].text.strip(),
                "Name": columns[1].text.strip(),
                "Team": columns[2].text.strip(),
                "Rating": columns[3].text.strip(),
            }
            data.append(record)

        df = pd.DataFrame(data)
        return df
    else:
        return None

# Scrape data and create data frames
odi_womens_teams_df = scrape_icc_rankings(odi_womens_teams_url)
odi_womens_batting_df = scrape_icc_rankings(odi_womens_batting_url)
odi_womens_allrounder_df = scrape_icc_rankings(odi_womens_allrounder_url)

# Display the data frames
print("Top 10 Women's ODI Teams:")
print(odi_womens_teams_df)

print("\nTop 10 Women's ODI Batting Players:")
print(odi_womens_batting_df)

print("\nTop 10 Women's ODI All-rounders:")
print(odi_womens_allrounder_df)

Top 10 Women's ODI Teams:
  Rank              Name Team Rating
0    1    Australia\nAUS   19  3,084
1    2      England\nENG   23  2,991
2    3  South Africa\nSA   21  2,446
3    4        India\nIND   18  1,745
4    5   New Zealand\nNZ   21  2,014
5    6   West Indies\nWI   18  1,610
6    7     Sri Lanka\nSL    9    714
7    8   Bangladesh\nBAN   11    816
8    9     Thailand\nTHA   11    753
9   10     Pakistan\nPAK   21  1,435

Top 10 Women's ODI Batting Players:
                                            Rank                  Name Team  \
0           1\n                        \n\n\n(0)  Natalie Sciver-Brunt  ENG
1   2\n                                \n\n\n(0)           Beth Mooney  AUS
2   3\n                                \n\n\n(0)   Chamari Athapaththu   SL
3   4\n                                \n\n\n(0)       Laura Wolvaardt   SA
4   5\n                                \n\n\n(0)       Smriti Mandhana  IND
5   6\n                                \n\n\n(0)          Alyssa Healy  AUS
6   7\n                                \n\n\n(0)          Ellyse Perry  AUS
7   8\n                                \n\n\n(0)      Harmanpreet Kaur  IND
8   9\n                                \n\n\n(0)           Meg Lanning  AUS
9  10\n                                \n\n\n(0)        Marizanne Kapp   SA

  Rating
0    807
1    750
2    736
3    727
4    708
5    698
6    697
7    694
8    662
9    642

Top 10 Women's ODI All-rounders:
                                            Rank                  Name Team  \
0           1\n                        \n\n\n(0)        Marizanne Kapp   SA
1   2\n                                \n\n\n(0)      Ashleigh Gardner  AUS
2   3\n                                \n\n\n(0)  Natalie Sciver-Brunt  ENG
3   4\n                                \n\n\n(0)       Hayley Matthews   WI
4   5\n                                \n\n\n(0)           Amelia Kerr   NZ
5   6\n                                \n\n\n(0)         Deepti Sharma  IND
6   7\n                                \n\n\n(0)          Ellyse Perry  AUS
7   8\n                                \n\n\n(0)         Jess Jonassen  AUS
8   =\n                                \n\n\n(0)         Sophie Devine   NZ
9  10\n                                \n\n\n(0)              Nida Dar  PAK

  Rating
0    385
1    377
2    360
3    358
4    346
5    312
6    282
7    227
8    227
9    224

5.Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and
make data framei) Headline
ii) Time
iii) News Link

In [18]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.cnbc.com/world/?region=world"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

data = {'Headline': [], 'Time': [], 'News Link': []}

articles = soup.find_all('div', class_='RiverHeadline-headline RiverHeadline-hasThumbnail')

for article in articles:
    # Extract headline
    headline = article.find('h3', class_='RiverHeadline-headline RiverHeadline-hasThumbnail')
    headline_text = headline.text.strip() if headline else 'N/A'
    data['Headline'].append(headline_text)

    # Extract time
    time_element = article.find('time')
    time = time_element['datetime'] if time_element else 'N/A'
    data['Time'].append(time)

    # Extract news link
    link_element = article.find('a', class_='RiverHeadline-headline RiverHeadline-hasThumbnail')
    link = link_element['href'] if link_element else 'N/A'
    data['News Link'].append(link)

df = pd.DataFrame(data)

# Display the data frame
print(df)

   Headline Time News Link
0       N/A  N/A       N/A
1       N/A  N/A       N/A
2       N/A  N/A       N/A
3       N/A  N/A       N/A
4       N/A  N/A       N/A
5       N/A  N/A       N/A
6       N/A  N/A       N/A
7       N/A  N/A       N/A
8       N/A  N/A       N/A
9       N/A  N/A       N/A
10      N/A  N/A       N/A
11      N/A  N/A       N/A
12      N/A  N/A       N/A
13      N/A  N/A       N/A
14      N/A  N/A       N/A
15      N/A  N/A       N/A
16      N/A  N/A       N/A
17      N/A  N/A       N/A
18      N/A  N/A       N/A
19      N/A  N/A       N/A

6) Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data framei) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [27]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send an HTTP GET request to the website
url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
response = requests.get(url)

# Parse the HTML content of the page
soup = BeautifulSoup(response.text, 'html.parser')

# Find the list of articles
articles = soup.find_all('div', class_='sc-orwwe2-3 jOMrrY')

# Initialize lists to store the data
titles = []
authors = []
dates = []
urls = []

# Extract the data
for article in articles:
    # Extract paper title
    title_element = article.find('a', class_='sc-5smygv-0 fIXTHm')
    title = title_element.text.strip() if title_element else "N/A"
    titles.append(title)

    # Extract authors
    authors_element = article.find('span', class_='sc-1w3fpd7-0 dnCnAO')
    author = authors_element.text.strip() if authors_element else "N/A"
    authors.append(author)

    # Extract published date
    date_element = article.find('span', class_='sc-1thf9ly-2 dvggWt')
    date = date_element.text.strip() if date_element else "N/A"
    dates.append(date)

    # Extract paper URL
    url_element = article.find('a', class_='sc-5smygv-0 fIXTHm')
    url = url_element['href'] if url_element else "N/A"
    urls.append(url)

# Create a data frame
data = {
    'Paper Title': titles,
    'Authors': authors,
    'Published Date': dates,
    'Paper URL': urls
}
df = pd.DataFrame(data)

# Display the data frame
print(df)

        Paper Title                                            Authors  \
0  Reward is enough  David Silver, Satinder Singh, Doina Precup, Ri...

  Published Date                                          Paper URL
0   October 2021  https://www.sciencedirect.com/science/article/...

Write a python program to scrape mentioned details from dineout.co.inand make data framei) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [32]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send an HTTP GET request to the website
url = "https://www.dineout.co.in/delhi-restaurants"
response = requests.get(url)

# Parse the HTML content of the page
soup = BeautifulSoup(response.text, 'html.parser')

# Find the list of restaurants
restaurants = soup.find_all('div', class_='_32KKc')

# Initialize lists to store the data
restaurant_names = []
ratings = []
image_urls = []

# Extract the data
for restaurant in restaurants:
    # Extract restaurant name
    name_element = restaurant.find("h4", class_='_1jbOb')
    name = name_element.text.strip() if name_element else "N/A"
    restaurant_names.append(name)

    # Extract ratings
    rating_element = restaurant.find('div', class_='kGUdK _1oTbl')
    rating = rating_element.text.strip() if rating_element else "N/A"
    ratings.append(rating)

    # Extract image URL
    image_element = restaurant.find('img')
    image_url = image_element['src'] if image_element else "N/A"
    image_urls.append(image_url)

# Create a data frame
data = {
    'Restaurant Name': restaurant_names,
    'Ratings': ratings,
    'Image URL': image_urls
}
df = pd.DataFrame(data)

# Display the data frame
print(df)

Empty DataFrame
Columns: [Restaurant Name, Ratings, Image URL]
Index: []