In [1]:
import regex as re

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [5]:
Sample_Text= 'Python Exercises, PHP exercises.'
output= re.sub(r'[\s+,]', ':', Sample_Text)

In [6]:
output

'Python:Exercises::PHP:exercises.'

Question 2-  Write a Python program to find all words starting with 'a' or 'e' in a given string

In [8]:
Text_1= "There are eight balls in the bucket"
pattern= r'\b[ae]\w+'
output= re.findall(pattern, Text_1)
output

['are', 'eight']

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [11]:
def word_with_four_char(text):
  pattern = re.compile(r'\b\w{3,}\b')
  words = pattern.findall(text)
  return words

Text_1= "There are eight balls in the bucket"
output = word_with_four_char(Text_1)
output

['There', 'are', 'eight', 'balls', 'the', 'bucket']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.:

In [13]:
def word_with_n_char(text):
  pattern = re.compile(r'\b\w{3,5}\b')
  words = pattern.findall(text)
  return words

Text_1= "There are eight balls in the bucket"
output = word_with_n_char(Text_1)
output

['There', 'are', 'eight', 'balls', 'the']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [14]:
def remove_parentheses(strings):
    pattern = re.compile(r'\([^)]*\)')

    cleaned_strings = [pattern.sub('', string) for string in strings]

    return cleaned_strings


sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
output = remove_parentheses(sample_text)

In [15]:
output

['example ', 'hr@fliprobo ', 'github ', 'Hello ', 'Data ']

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [ ]:
with open("input.txt", 'r') as file:
        input_text = file.read()

    pattern = re.compile(r'\([^)]*\)')

    cleaned_text = pattern.sub('', input_text)

    with open("output.txt", 'w') as file:
        file.write(cleaned_text)

Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [19]:
sample_text = "ImportanceOfRegularExpressionsInPython"
pattern = r'[A-Z][a-z]*'

In [20]:
output = re.findall(pattern, sample_text)
output

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [23]:
output = [word.upper() for word in output]
output

['IMPORTANCE', 'OF', 'REGULAR', 'EXPRESSIONS', 'IN', 'PYTHON']

Question 8- Create a function in python to insert spaces between words starting with numbers.

In [26]:
def insert_spaces(text):
    pattern = r'(\d)([A-Za-z]+)'

    result = re.sub(pattern, r'\1 \2', text)

    return result

In [27]:
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces(sample_text)
output

'RegularExpression1 IsAn2 ImportantTopic3 InPython'

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [39]:
def insert_spaces(text):
    pattern = r'(\d|\b[A-Z][A-Za-z]*)'

    result = re.sub(pattern, r' \1', text)

    return result

In [40]:
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces(sample_text)
output

' RegularExpression 1IsAn 2ImportantTopic 3InPython'

Question 10- Write a python program to extract email address from the text stored in the text file using Regular Expression.

In [41]:
with open("text.txt", "r") as file:
    text = file.read()

    # Define a regular expression pattern to match email addresses
    pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'

    # Use re.findall() to find all email addresses in the text
    extracted_emails = re.findall(pattern, text)

    # Print the extracted email addresses
    print(extracted_emails)

['xyz@domain.com', 'xyz.abc@sdomain.domain.com', 'hr@fliprobo.com']

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [54]:
Text_2 = "Hello_World123456 "
pattern = r'^[a-zA-Z0-9_ ]+$'

In [55]:
output=re.match(pattern, Text_2)
print(output)

<regex.Match object; span=(0, 18), match='Hello_World123456 '>

Question 12- Write a Python program where a string will start with a specific number.

In [60]:
Text_3 = "2 apples are gone "
pattern = '^[0-9]'
output = re.findall(pattern, Text_3)
print(output)

['2']

Question 13- Write a Python program to remove leading zeros from an IP address

In [66]:
ip_address = "192.168.010.001"
pattern = r'\b0+(\d+)'
output=re.sub(pattern,r'\1',ip_address)
output

'192.168.10.1'

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [75]:
dates="January 1, 2023 February 15, 2022 March 31, 2021 April 10, 2020 May 25, 2019 June 5, 2018 July 19, 2017 August 2, 2016"

In [76]:
dates

'January 1, 2023 February 15, 2022 March 31, 2021 April 10, 2020 May 25, 2019 June 5, 2018 July 19, 2017 August 2, 2016'

In [77]:
pattern = r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2},\s+\d{4}\b'

In [80]:
output=re.findall(pattern,dates)

In [81]:
output

['January 1, 2023',
 'February 15, 2022',
 'March 31, 2021',
 'April 10, 2020',
 'May 25, 2019',
 'June 5, 2018',
 'July 19, 2017',
 'August 2, 2016']

Question 15- Write a Python program to search some literals strings in a string.

In [83]:
Text_4 = 'The quick brown fox jumps over the lazy dog.'
check_words = ['fox', 'dog', 'horse']

for i in check_words:
    if i in Text_4:
        print(f"'{i}' is found in the text.")
    else:
        print(f"'{i}' is not found in the text.")

'fox' is found in the text.
'dog' is found in the text.
'horse' is not found in the text.

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [85]:
Text_5 = 'The quick brown fox jumps over the lazy dog.'
pattern = re.compile(re.escape('fox'), re.IGNORECASE)
output = pattern.search(Text_5)

In [86]:
output

Question 17- Write a Python program to find the substrings within a string.

In [90]:
Text_6 = 'Python exercises, PHP exercises, C# exercises'
pattern = re.compile(re.escape('exercises'))
output = pattern.findall(Text_6)
output

['exercises', 'exercises', 'exercises']

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [93]:
input_date = '2023-10-08'
pattern = re.compile(r'(\d{4})-(\d{2})-(\d{2})')

output_date = pattern.sub(r'\3-\2-\1', input_date)
output_date

'08-10-2023'

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [101]:
def decimal_numbers(text):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')

    # Use re.findall() to find all matching numbers in the text
    decimal_numbers = pattern.findall(text)

    return decimal_numbers

sample_text = "01.12, 0132.123, 2.31875, 12.8, 2.01, 27.25, 0.25, 55"

In [100]:
result = decimal_numbers(sample_text)
result

['01.12', '12.8', '2.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [102]:
sample_text = "There are 12 apples and 3 bananas in the basket."
pattern = re.compile(r'\b\d+\b')

In [103]:
matches = [(match.group(), match.start()) for match in pattern.finditer(sample_text)]
matches

[('12', 10), ('3', 24)]

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [105]:
sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern = re.compile(r'\b\d+\b')

numbers = pattern.findall(sample_text)
numbers

['947', '896', '926', '524', '734', '950', '642']

In [107]:
type(numbers)

list

In [109]:
max(numbers)

'950'

Question 23- Create a function in python to insert spaces between words starting with capital letters.

In [110]:
def spaces_between_capital_words(input_text):
    pattern = re.compile(r'([A-Z][a-z]*)')
    spaced_text = pattern.sub(r' \1', input_text)

    return spaced_text

In [111]:
sample_text = "RegularExpressionIsAnImportantTopicInPython"
output = spaces_between_capital_words(sample_text)

output

' Regular Expression Is An Important Topic In Python'

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [112]:
sample_text = "I Am LeArning PyTHon"
pattern = re.compile(r'[A-Z][a-z]+')

In [113]:
output = pattern.findall(sample_text)
output

['Am', 'Le', 'Arning', 'Py', 'Hon']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [114]:
sample_text = "Hello hello world world"
pattern = re.compile(r'\b(\w+)( \1)+\b', flags=re.IGNORECASE)

In [116]:
output = pattern.sub(r'\1', sample_text)
output

'Hello world'

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [117]:
sample_text = "Password123 is the password to unlock"
pattern = re.compile(r'^.*[a-zA-Z0-9]$')

In [118]:
output=pattern.match(sample_text)
output

Question 27-Write a python program using RegEx to extract the hashtags.

In [124]:
sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

pattern = re.compile(r'#\w+')

In [125]:
hashtags = pattern.findall(sample_text)
print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

In [126]:
sample_text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

In [127]:
pattern = re.compile(r'<U\+\w+>')

In [128]:
output = re.sub(pattern,"", sample_text)

In [129]:
output

'RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><ed> "acquired funds" No wo'

Question 29- Write a python program to extract dates from the text stored in the text file.

In [130]:
with open("sample.txt", "r") as file:
    sample_text = file.read()

In [131]:
sample_text

'Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'

In [132]:
pattern = re.compile(r'\b\d{2}-\d{2}-\d{4}\b')

In [133]:
dates = re.findall(pattern,sample_text)

In [134]:
dates

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.

In [139]:
def remove_words_lengths(text):
    pattern = re.compile(r'\b\w{2,4}\b')
    cleaned_text = re.sub(pattern,"", text)

    return cleaned_text

In [140]:
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

result = remove_words_lengths(sample_text)

In [141]:
result

' following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.'